body {
    background-color: rgb(150, 32, 32)

}


#midstilt {
 width: 600px;
 text-align: center;
 align-items: center;
 background-color: rgb(110, 30, 30);
 color: lightblue;
 border: 20px;
 border-color: cornflowerblue;
}
